In [ ]:
USE Practice;
GO

## The problem is an Advanced SQL problem from Hacker Rank. Level : HARD

  

Link to Problem :Â https://www.hackerrank.com/challenges/15-days-of-learning-sql/problem

In [ ]:
With dates AS
(
SELECT DISTINCT submission_date, 
ROW_NUMBER() OVER(order by (SELECT null)) as rn
FROM submissions
GROUP BY submission_date
),
hacker_subs AS
(
SELECT submission_date, hacker_id,
ROW_NUMBER() OVER(PARTITION BY hacker_id ORDER BY submission_date ASC) as rn
FROM submissions
GROUP BY submission_date, hacker_id
),
unique_hackers AS
(
SELECT d.submission_date, hs.hacker_id
FROM dates d 
LEFT JOIN hacker_subs hs ON ((d.submission_date = hs.submission_date) AND (d.rn = hs.rn))
),
max_subs AS
(
SELECT submission_date, hacker_id,
ROW_NUMBER() OVER(PARTITION BY submission_date ORDER BY COUNT(*) DESC, hacker_id ASC) as rn
FROM submissions
GROUP BY submission_date, hacker_id
)

SELECT d.submission_date, COUNT(uh.hacker_id) as No_of_unique_hackers, ms.hacker_id, h.name
FROM dates d 
LEFT JOIN unique_hackers uh ON (d.submission_date = uh.submission_date)
LEFT JOIN max_subs ms ON ((d.submission_date = ms.submission_date) AND ms.rn = 1)
INNER JOIN hackers h ON (ms.hacker_id = h.hacker_id)
GROUP BY d.submission_date, ms.hacker_id, h.name

submission_date,No_of_unique_hackers,hacker_id,name
2016-03-01,4,20703,Angela
2016-03-02,2,79722,Micheal
2016-03-03,2,20703,Angela
2016-03-04,2,20703,Angela
2016-03-05,1,36396,Frank
2016-03-06,1,20703,Angela